<!DOCTYPE html>
<html lang="en">

<head>
    <!-- include header -->
    <%- include('include/_header')%>
        <!-- /include header -->
        <title>Menu</title>
</head>

<body style="background-color: d8e3e7;">
    <!-- include navbar -->
    <%- include('include/_navbar')%>
        <!-- /include navbar -->
        <!-- menu-list -->
        <section id="menu-list">
            <div class=" container-menu py-5">
                <!-- heading -->
                <div class="text-center py-2">
                    <span class="text-danger h1 pacifico">Menu</span>
                </div>
                <!-- heading -->
                <!-- back to previous page button -->
                <a href="/" class=""><button class="btn btn-danger px-3 mb-3"><i class="fas fa-arrow-left "></i>&nbsp;Back</button></a>
                <!-- back to previous page button -->
                <div id="filters" class="button-group  ">
                    <button class="btn is-checked active" data-filter="*">All Brand</button>
                    <button class="btn " data-filter=".Breakfast">Breakfast</button>
                    <button class="btn" data-filter=".Lunch">Lunch</button>
                    <button class="btn" data-filter=".Dinner">Dinner</button>
                    <button class="btn" data-filter=".Meal">Meal</button>
                    <button class="btn" data-filter=".Chicken">Chicken</button>
                    <button class="btn" data-filter=".VegDishes">Veg Dishes</button>
                    <button class="btn" data-filter=".SweetDishes">Sweet Dishes</button>
                </div>

               
                    <div class="grid row ">
                        <% data.forEach(menu=>{ %>
                        <div class="grid-item mix card-group mt-3 mr-4 <%=menu.type%> ">
                            <div class="card" style="width: 15rem;">
                                <img class="card-img-top" src="/img/upload/<%=menu.photo%>" alt="<%= menu.title %>">
                                <div class="card-body ">
                                    <h5 class="card-title  ">
                                        <%= menu.title.substring(0,17) %> ...
                                    </h5>
                                    <p class="card-text h6 text-secondary" >
                                        <%if (menu.description){%>
                                            <%= menu.description.substring(0, 50) %> ...
                                        <%}%>
                                    </p>
                                </div>
                                <div class="text-center pb-3 ">
                                    <a href="/post/<%=menu._id%>" class="btn btn-danger px-4">View</a>
                                </div>
                            </div>
                        </div>
                        <%})%>
                      
                    </div>
        </section>
        <!-- !menu-list -->
        <!-- include footer -->
        <%- include('include/_footer')%>
            <!-- /include footer -->
            <!-- include script -->
            <%- include('include/_script')%>
                <!-- /include script -->

</body>

</html>