<!-- header -->
<%- include('include/_header') %>
<!-- !header -->
<!-- navbar -->
<%- include('include/_navbar')%>
<!-- !navbar -->
<!-- search body -->
<section id="search">
    <div class="container py-2">
        <!-- <h3>Searched Recipe:-""</h3> -->
            <br>
            <span class="h6">Search results for <b>'<%= search %></b>'</span>
            <div class="grid row ">
                <% if (recipes){ %>
                    <% recipes.forEach(SearchRecipe=>{ %>
                    <!-- <%=SearchRecipe.title%> -->
                    <div class="grid-item mix card-group mt-3 mr-4 <%=SearchRecipe.type%> ">
                        <div class="card" style="width: 15rem;">
                            <img class="card-img-top" src="/img/upload/<%=SearchRecipe.photo%>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= SearchRecipe.title %>
                                </h5>
                                <p class="card-text">
                                    <%if (SearchRecipe.description){%>
                                        <%= SearchRecipe.description.substring(0, 50) %> ...
                                    <%}%>
                                </p>
                                <div class="text-center mb-0">
                                    <a href="/post/<%=SearchRecipe._id%>" class="btn btn-danger px-4">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%})%>
                <%}else{%>
                        <h4 class="text-secondary h1"> Not Available</h4>
                <%}%> 
                       
    </div>
</section>
<!-- search body -->
<!-- footer -->
<div class="">
    <%- include('include/_footer')%>
</div>
<!-- !footer -->